:root {
    --blue-ravenclaw: #0E1A40; /* Ravenclaw Blue */
    --bronze-ravenclaw: #946B2D; /* Bronze */
    --dark-ravenclaw: #0A1426; /* Dark Ravenclaw Blue */
    --white: #FFFFFF; /* Keep white as-is */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-ravenclaw);
    color: var(--white);
    line-height: 1.6;
}

header {
    background-color: var(--blue-ravenclaw);
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid var(--bronze-ravenclaw);
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--bronze-ravenclaw);
}

header p {
    font-size: 1rem;
    font-weight: 300;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--bronze-ravenclaw);
    margin-bottom: 10px;
}

.card {
    background-color: var(--blue-ravenclaw);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

    text-decoration: none; /* Remove underline */
    color: inherit; /* Make the color inherit from the parent element */    
    display: block; /* Ensure it behaves like a block */
}

.card-certificate {
    text-align: center;    
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--blue-ravenclaw);
    border-top: 4px solid var(--bronze-ravenclaw);
}

footer p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--bronze-ravenclaw);
}


/* mas */

.index {
    text-decoration: none; /* Remove underline */
}

.responsive-img {
    width: 100%; /* Image takes up the full width of its container */
    height: auto; /* Maintains the aspect ratio */
    max-width: 800px; /* Optional: sets a maximum width */
    align-items: center;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    margin-bottom: 5px;
}


.button-container {
    text-align: center; /* Center the buttons horizontally */
}

.button {
    display: inline-block; /* Add this line */
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    background-color: var(--blue-ravenclaw);
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: var(--bronze-ravenclaw);
}

.card-certificate:hover {
    background-color: var(--bronze-ravenclaw);
}

.card a {
    text-decoration: none; /* Remove underline */
    color: var(--bronze-ravenclaw);
}

.card a:hover {
    text-decoration: underline;
}